header {
  height: 75vh;
  display: flex;
  align-items: center;
  justify-content: left;
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.5) 0%,
      rgba(92, 77, 66, 0.5) 100%
    ),
    url(../../images/bg-masthead\ .jpg);
  background-attachment: fixed;

  .nav-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;

    .logo {
      width: 5rem;
      height: 5.5rem;
      font-size: 3rem;
      display: flex;
      top: 0;
      position: relative;
      left: 4rem;
      .t {
        animation: t 2s forwards;

        @keyframes t {
          0% {
            transform: translateX(-10%) rotatex(-30deg);
            color: #e6aa79;
          }
          50% {
            transform: translateX(-50%) rotatey(90deg) rotatex(-90deg)
              translateY(-10%);
          }
          100% {
            transform: translateX(-110%) rotatex(-180deg);
            color: #ff7200;
            font-size: 5rem;
          }
        }
      }
      .w {
        animation: w 2s infinite;
        @keyframes w {
          0% {
            transform: rotatey(30deg);
            font-size: 4rem;
            color: #e476279f;
          }
          50% {
            color: rgba(170, 107, 56, 0.712);
            transform: rotatey(90deg);
          }
          100% {
            font-size: 4rem;
            color: #ff7200;
          }
        }
      }
    }

    .nav {
      width: 60%;
      position: absolute;
      top: 20%;
      right: 0;
    }
    ul {
      width: 80%;
      display: flex;
      justify-content: space-between;
      li {
        display: inline;
        a {
          font-size: 1.5em;
          @include anchor;
        }
      }
    }
  }
  .introduction-text {
    position: relative;
    width: 40vw;
    text-align: center;
    height: 10vh;
    left: 5%;
    /* hexagon shape added with animation effects */
    .hexagon {
      width: 100px;
      height: 57.735px;
      background: #ff730080;
      position: absolute;
      left:1.1rem ;
      bottom: 2rem;
      z-index: 1;
      animation: hexagon 120s linear infinite ;
    }
    .hexagon::before {
      content: "";
      position: absolute;
      top: -28.8675px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 28.8675px solid #ff730080;
      z-index: 1;
    }
    .hexagon::after {
      content: "";
      position: absolute;
      bottom: -28.8675px;
      left: 0;
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 28.8675px solid #ff730080;
      z-index: 1;
    }
    @keyframes hexagon {
      
      100%{
        transform: rotate(1turn);
      }
      
    }
    p {
      position: absolute;
      font-size: 1.3rem;
      top: 100%;
      left: 10%;
      width: 27vw;
      text-align: left;
      color: $my-color;
    }
  }
  h2 {
    position: relative;
    color: rgba(0, 0, 0, 0);
    font-size: 2rem;
    left: 10%;
    width: max-content;
  }
  h2::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: $font-color;
    border-right: 4px solid #ff7200;
    overflow: hidden;
    animation: animate 2.5s  steps(30) forwards;
    white-space: nowrap;
    font-size: 2.02rem;
  }

  @keyframes animate {
    to {
      width: 102%;
    }
  }
}
